extends base
include mixins/video

block uploadLink
    nav
        ul
            li
                a(href="/videos/upload") Upload Video

block content 
    h2 Welcome here you will see the treding videos
    each video in videos
        +video(video)    
    else
        li Sorry, Nothing Found.

    